:root {
  --primary-text-color: #212121;
  --accent-color: #757575;
  --color-hover: #2196f3;
}

.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li > a:focus {
  color: var(--color-hover);
}

button:focus {
  background-color: var(--color-hover);
  color: #ffffff;
}

ul {
  list-style: none;
}

span {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  padding: 0;
}

.header-nav-item + .header-nav-item {
  margin-left: 50px;
}

.header-nav-logo {
  margin-right: 92px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-nav-current {
  color: var(--color-hover);
}

.header-nav-logo:focus {
  opacity: 0.4;
}

.header-nav-list {
  text-decoration: none;
}

.header-nav-item-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-right {
  margin-left: auto;
}

.header-right-list {
  display: flex;
  padding: 0;
}

.header-right-item-link:hover .icon-mail,
.header-right-item-link:focus .icon-mail
 {
    fill: var(--color-hover);
}

.header-nav-item-link:hover,
.header-nav-item-link:focus,
.header-right-item-link:hover,
.header-right-item-link:focus {
  color: var(--color-hover);
}

.header-right-item + .header-right-item {
  margin-left: 50px;
}

.header-right-item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.icon-mail {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-mail:hover {
  fill: var(--color-hover);
}

.header-nav .header-nav-item-link.current {
  color: var(--color-hover);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-nav {
  color: var(--color-hover);
}

.footer-nav-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-list {
  padding: 0;
}

.footer-link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link-adress:hover {
  opacity: 0.6;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-wrapper-left {
  margin-right: 70px;
}

.footer-title {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 0;
  color: #ffffff;
}

.icon-footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon-foooter-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #ffffff;

}

.icon-footer-item{
    margin-right: 10px;
}

.icon-footer-item:last-child{
    margin-right: 0;

}

.icon-foooter-link:hover,
.icon-foooter-link:focus {
  background-color: var(--color-hover);
}

/* banner */
.banner {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/banner.jpg");
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner-wrapper-button:focus {
  opacity: 0.4;
}

.banner-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  margin: 0 auto;

  background: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.banner-button:focus,
.banner-button:hover {
  opacity: 0.9;
}

/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title-item {
  width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
  margin-bottom: 10px;
}

.features-title:last-child {
  margin-right: 0;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--accent-color);
}

.features-list {
  display: flex;
}

.icon-features-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: 270px 120px;
  background-position: center;
  
}

.icon-features{
  width: 70px;
  height: 70px;
}

/* do */

.do {
  padding-bottom: 94px;
  padding-bottom: 94px;
}

.do-list {
  display: flex;
}

.do-item + .do-item {
  margin-left: 30px;
}

.do-image {
  display: block;
}

.do-title {
  margin-bottom: 50px;
}

/* team */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title-name {
  margin-bottom: 10px;
}

.team-title {
  margin: 0;
  margin-bottom: 50px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.icon-team-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 16px;
}

.team-item-icon{
  margin-right: 10px;
}

.team-item-icon:last-child{
  margin-right: 0;
}

.icon-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.icon-team {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-list-icon{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}


/* .icon-team:last-child{
    margin-right: 0;
} */

/* clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  width: 100%;
  height: 100%;
}

.clients-link:hover {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* portfolio */

/* filter */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  width: 370px;
}

.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.portfolio-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link {
  text-decoration: none;
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  background: #ffffff;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


