:root {
  --primary-text-color: #212121;
  --accent-color: #757575;
  --color-hover: #2196f3;
  --timming-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}

textarea{
  resize: none;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li > a:focus {
  color: var(--color-hover);
}


ul {
  list-style: none;
}

span {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */
.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  padding: 0;
}

.header-nav-item + .header-nav-item {
  margin-left: 50px;
}

.header-nav-logo {
  margin-right: 92px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-nav-current {
  color: var(--color-hover);
}

.header-nav-logo:focus {
  opacity: 0.4;
}

.header-nav-list {
  text-decoration: none;
}

.header-nav-item-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 32px;
  padding-bottom: 32px;
}

.current::after{
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 48px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  display: block;
}



.header-right {
  margin-left: auto;
}

.header-right-list {
  display: flex;
  padding: 0;
}

.header-right-item-link:hover .icon-mail,
.header-right-item-link:focus .icon-mail
 {
    fill: var(--color-hover);
}

.header-nav-item-link:hover,
.header-nav-item-link:focus,
.header-right-item-link:hover,
.header-right-item-link:focus {
  color: var(--color-hover);
}

.header-right-item + .header-right-item {
  margin-left: 50px;
}

.header-right-item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);

  transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;

  transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:hover {
  fill: var(--color-hover);
}

.header-nav .header-nav-item-link.current {
  color: var(--color-hover);
}


/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-nav {
  color: var(--color-hover);
}

.footer-nav-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-list {
  padding: 0;
}

.footer-link-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;

  transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link-adress:hover {
  opacity: 0.6;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-wrapper-left {
  margin-right: 70px;
}

.footer-title {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 0;
  color: #ffffff;
}

.icon-footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon-foooter-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.icon-footer-item{
    margin-right: 10px;
}

.icon-footer-item:last-child{
    margin-right: 0;

}

.icon-foooter-link:hover,
.icon-foooter-link:focus {
  background-color: var(--color-hover);
}

.footer-form-send{
  display: flex;
}

.footer-form{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-form-title{
  align-items: baseline;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-form-email{
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  color: #FFFFFF;
  
  margin-left: 12px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.icon-footer-form{
  width: 24px;
  height: 24px;
}

.form-order{
  display: flex;
  flex-direction: column;
  min-width: 448px;
}

.form-order-wrapper{
  position: relative;
  margin-bottom: 10px;
}

/* modal */
.backdrop{
  position: fixed;
  z-index: 5;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms var(--timming-function);
}

.button-icon-close:hover{
  fill: var(--color-hover);
}

.button-icon:focus{
  fill: var(--color-hover);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  overflow: hidden;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

}

.form-wrapper{
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-input{

  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;

  transition: border-color 250ms var(--timming-function);
}
.form-input:focus,
.form-input:hover{
  border-color: var(--color-hover);
}

.form-input:focus + .icon-form{
  fill: var(--color-hover);
  border-color: var(--color-hover);
}

.icon-form{
  position: absolute;
  top: 63%;
  left: 52px;

  transform: translateY(-50%);
}

.form-main-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-label{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-policy-label{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: 76px;
  color: #757575;
}

.form-policy-link{
  color: #2196F3;
}

::placeholder{
  padding-top: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment{
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;

  transition: border-color 250ms var(--color-hover);
}

.form-comment:focus{
  border-color: var(--color-hover);
}
.icon-check-icon{
  fill: currentColor;
  width: 11px;
  height: 8px;
}

.checkbox-wrapper{
  display: flex;
  align-items: center;
  margin-top: 20px;
}





/* banner */
.banner {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/banner.jpg");
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner-wrapper-button:focus {
  opacity: 0.4;
}

.banner-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  margin: 0 auto;

  background: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:focus,
.banner-button:hover {
  opacity: 0.9;
}

.button{
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;

  transition: background-color 250ms var(--timming-function), color 250ms var(--timming-function);
}

.icon-close{
  width: 18px;
  height: 18px;
}

.button:focus .icon-close,
.button:hover .icon-close{
  background-color: #ffffff;
  color: var(--color-hover);
}

.button-form-submit{
  font-size: 16px;
  line-height: 1.9;

  padding: 10px 65px;
  display: flex;
  margin: 0 auto;
  letter-spacing: 0.06em;

  color: #FFFFFF;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

/* .icon-check{
    position: absolute;
    top: 77%;
    padding: 7px;
    border: 1px solid #212121;
    left: 52px;
    transform: translateY(-50%);
} */

/* .form-policy{
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check-box{
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url("../img/vector.svg");
  margin-left: 54px;
}

.form-policy:focus + .check-box,
.form-policy:checked + .check-box{
  background-image: url("../img/icon-check.svg");
}

.form-policy:checked:focus + .check-box{
  background-image: url("../img/vector.svg");
} */

.policy-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
}

.policy-link {
  color: var(--color-hover);
}

.order-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.checkbox-label{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.checkbox-icon  {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 1px solid  #212121;
  border-radius: 2px;
}

.order-checkbox:checked + .checkbox-icon {
  background-color: var(--color-hover);
  border: var(--color-hover);
  background-image: url(../img/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}






/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title-item {
  width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
  margin-bottom: 10px;
}

.features-title:last-child {
  margin-right: 0;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--accent-color);
}

.features-list {
  display: flex;
}

.icon-features-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: 270px 120px;
  background-position: center;
  
}

.icon-features{
  width: 70px;
  height: 70px;
}

/* do */

.do {
  z-index: 1;
  padding-bottom: 94px;
  padding-bottom: 94px;
}

.do-list {
  display: flex;
}

.do-item + .do-item {
  margin-left: 30px;
}

.do-item{
  position: relative;
}
.do-text{
  position: absolute;
  bottom: 0;
  right: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.do-image {
  display: block;
}

.do-title {
  margin-bottom: 50px;
}

/* team */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title-name {
  margin-bottom: 10px;
}

.team-title {
  margin: 0;
  margin-bottom: 50px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.icon-team-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 16px;
}

.team-item-icon{
  margin-right: 10px;
}

.team-item-icon:last-child{
  margin-right: 0;
}

.icon-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-team {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-list-icon{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}


/* .icon-team:last-child{
    margin-right: 0;
} */

/* clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  width: 100%;
  height: 100%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.clients-link:hover,
.clients-link:focus {
  color: var(--color-hover);
  border-color: var(--color-hover);
}

.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;

}

/* portfolio */

/* filter */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  width: 370px;
}

.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.portfolio-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link {
  text-decoration: none;
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  background: #ffffff;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.portfolio-image-wrapper{
  position: relative;
  overflow: hidden;
}


.portfolio-animation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: inline-block;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #FFFFFF;

  transform: translateY(100%);
  background-color:  rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timming-function);

}


.portfolio-link:hover .portfolio-animation{
  transform: translateY(0);
  opacity: 1;
}

