.features {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and(max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features-item {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  display: flex;
  flex-direction: column;

  @media screen and(min-width: 767px) {
    width: 100%;
    padding-bottom: 30px;
  }

  @media screen and(min-width: 768px) and (max-width: 1599px) {
    width: 354px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and(max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: none;
  color: $accent-color;
}

.features-list {
  display: flex;

  @media screen and(max-width: 767px) {
    flex-direction: column;
  }

  @media screen and(min-width: 768px) and (max-width: 1599px) {
    flex-wrap: wrap;
  }
}

.icon-features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: 270px 120px;
  background-position: center;
}

.icon-features {
  width: 70px;
  height: 70px;
}
