.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: flex;
  align-items: center;

  @media screen and(max-width: 767px) {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
}

.nav-logo {
  margin-right: 88px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $primary-text-color;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
  @media screen and(max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and(max-width: 1199px) {
    font-size: 24px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 92px;
  }
}

.hide-logo {
  display: none;
}

.nav-current {
  color: $color-hover;
}

.nav-list {
  display: flex;
  padding: 0;
  text-decoration: none;

  @media screen and(max-width: 767px) {
    flex-direction: column;
  }
}

.nav-item {
  margin-right: 50px;

  @media screen and(max-width: 767px) {
    margin-left: 40px;
  }
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: $color-hover;
  }

  @media screen and(max-width: 767px) {
    font-size: 40px;
    line-height: 47px;
    padding-top: 0;
  }
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: block;

  @media screen and(max-width: 767px) {
    display: none;
  }
}

.header-nav {
  @media screen and(max-width: 767px) {
    margin-top: 48px;
  }
}

.header-nav .nav-link.current {
  color: $color-hover;
}

.header-add {
  margin-left: auto;
}

.header-list {
  display: flex;

  @media screen and(max-width: 767px) {
    flex-direction: column;
  }

  @media screen and(min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and(min-width: 1200px) {
    flex-direction: row;
  }
}

.header-item {
  margin-right: 50px;
  @media screen and(max-width: 767px) {
    margin-left: 40px;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-tel {
  @media screen and(max-width: 767px) {
    order: -1;
  }
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover .icon-mail,
  &:focus .icon-mail {
    fill: $color-hover;
    color: $color-hover;
  }
}

.header-link-tel {
  @media screen and(max-width: 480px) {
    font-size: 22px;
    color: #2196f3;
    margin-bottom: 20px;
  }

  @media screen and(min-width: 480px) {
    font-size: 34px;
    line-height: 1.1;
    padding-bottom: 32px;
    color: #2196f3;
  }

  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.1;
    padding-bottom: 0;
    color: #757575;
  }
}

.header-mail {
  @media screen and(min-width: 480px) and (max-width: 1200px) {
    margin-bottom: 10px;
  }
}

.header-link-mail {
  @media screen and(max-width: 768px) {
    font-size: 24px;
    line-height: 1.1;
  }

  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.1;
  }
}

.icon-mail {
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $color-hover;
  }
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.media-list {
  display: flex;
  margin-left: 40px;
  margin-top: 64px;
  margin-bottom: 48px;
  flex-wrap: wrap;

  @media screen and(min-width: 767px) {
    display: none;
  }

  @media screen and(max-width: 767px) {
    margin-bottom: 48px;
  }
}

.media-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}

.media-item:first-child {
  border: none;
  padding-left: 0;
}

.media-item:last-child {
  padding-right: 0;
}

.media-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;
}

/*popup*/

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 15;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and(max-width: 767px) {
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

.nav-menu_wrapper {
  display: flex;

  @media screen and(max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    &.is-open {
      transform: translateX(0);
    }
  }

  @media screen and(min-width: 768px) {
    align-items: center;
  }

  @media screen and(min-width: 1200px) {
    flex-grow: 1;
  }
}

.header-list__wrapper {
  @media screen and(max-width: 767px) {
    margin-top: auto;
  }

  @media screen and(min-width: 767px) {
    margin-left: 63px;
  }
  @media screen and(min-width: 1200px) {
    margin-left: auto;
  }
}
