.backdrop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms $timming-function;
}

.button-icon-close:hover {
  fill: $color-hover;
}

.button-icon:focus {
  fill: $color-hover;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  overflow: hidden;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;

  transition: border-color 250ms $timming-function;
}
.form-input:focus,
.form-input:hover {
  border-color: $color-hover;
}

.form-input:focus + .icon-form {
  fill: $color-hover;
  border-color: $color-hover;
}

.icon-form {
  position: absolute;
  top: 63%;
  left: 52px;

  transform: translateY(-50%);
}

.form-main-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-policy-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: 76px;
  color: #757575;
}

.form-policy-link {
  color: #2196f3;
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;

  transition: border-color 250ms $color-hover;
}

.form-comment:focus {
  border-color: $color-hover;
}
.icon-check-icon {
  fill: currentColor;
  width: 11px;
  height: 8px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
