.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and(max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-image {
  width: 100%;
}

.team-list {
  display: flex;

  @media screen and(max-width: 767px) {
    flex-direction: column;
  }

  @media screen and(min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.team-item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and(max-width: 480px) {
    width: 100%;
    padding-bottom: 30px;
  }

  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 354px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

.team-item:last-child {
  margin-right: 0;
}

.team-title-name {
  margin-bottom: 10px;
}

.team-title {
  margin: 0;
  margin-bottom: 50px;

  @media screen and(max-width: 1200px) {
    font-size: 28px;
    line-height: 1.17;
  }
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.icon-team-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 16px;
}

.team-item-icon {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.icon-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.icon-team {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}
