$primary-text-color: #212121;
$accent-color: #757575;
$color-hover: #2196f3;
$timming-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
