$primary-text-color: #212121;
$accent-color: #757575;
$color-hover: #2196f3;
$timming-function: cubic-bezier(0.4, 0, 0.2, 1);

.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: $primary-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}

textarea {
  resize: none;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li > a:focus {
  color: $color-hover;
}

ul {
  list-style: none;
}

span {
  margin: 0;
  padding: 0;
}
